@import url('https://use.typekit.net/qhw2oit.css');

body {
    position: relative;
    font-family: "argumentum",sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.find-patient-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;

}

#findPatientHeader {
    position: absolute;
    align-items: center;
    font-size: 400%;
    color: rgb(54, 100, 184);
    font-weight: 700; 
    top: 25%;  
}

#patientAwait {
    position: absolute;
    font-size: 300%;
    color: rgb(54, 100, 184);
    font-weight: 100;
    top: 10%;
    left: 10%; 
}

.patientTreatment {
    position: absolute;
    background-color: transparent; 
    cursor: pointer;  
    border: 2px solid rgb(214, 214, 214); 
    border-radius: 10px;   
    background-color: transparent;
    padding: 0.8% 2%; 
    font-size: 200%;
    color: rgb(54, 100, 184);
    bottom: 8%;
    right: 4%;
    transition: 0.3s;  
}

.patientTreatment:hover {
    background-color: rgba(214, 214, 214, 0.3);
    
}

.savePatientsButton {
  position: absolute;
    background-color: transparent; 
    cursor: pointer;  
    border: 2px solid rgb(214, 214, 214); 
    border-radius: 10px;   
    background-color: transparent;
    padding: 0.8% 2%; 
    font-size: 200%;
    color: rgb(54, 100, 184);
    bottom: 8%;
    right: 15%;
    transition: 0.3s;  
}

.savePatientsButton:hover {
  background-color: rgba(214, 214, 214, 0.3);
  
}


.patient-list-container {
  margin: 30%;
  width: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.select-all-container,
.patient-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.select-all-container input[type="checkbox"],
.patient-item input[type="checkbox"] {
  appearance: none; 
  border: 1px solid #4A4A4A;
  border-radius: 50%; 
  width: 20px; 
  height: 20px;
  margin-right: 10px;
}

.select-all-container input[type="checkbox"]:checked,
.patient-item input[type="checkbox"]:checked {
  background-color: #4A4A4A; 
  position: relative;
}

.select-all-container input[type="checkbox"]:checked::after,
.patient-item input[type="checkbox"]:checked::after {
  content: ""; 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  width: 12px; 
  height: 12px; 
  background-color: #FFFFFF; 
  border-radius: 50%; 
}

.select-all-container label,
.patient-item label {
  flex-grow: 1;
  color: #4A4A4A;
  font-size: 150%;
}

.patient-item span {
  color: #8A8A8A;
  margin-left: auto;
  font-size: 150%;
}


.spacing {
  margin-left: 10%;
  margin-right: 10%;
}


#fixed-button-1 {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 150px;
}

#fixed-button-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 30px;
}